.deck.failure{
    animation-name: failureDeckAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes failureDeckAnimation
{
    50%  { background-color: Red; }
    100% { background-color: #D0C07B; }
}

.deck.success{
    animation-name: successDeckAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;        
    animation-iteration-count: infinite;
}

@keyframes successDeckAnimation
{
    0%   { box-shadow: 0px 0px 5vh White, 0px 0px 2vh  Black; }
    100% { box-shadow: 0px 0px 20vh White, 0px 0px 10vh Black; }
}
