body {
	background-color: FFFFCC;
}

.deck{
	background-color: FDDFAD;
	width: 75em;
	margin: 0 auto;
}

.card{
	float: left;
	width: 12em;
	height: 12em;
	margin: 3em 3em;
	border: solid;

}

.selected{
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.shape{
	position: relative;
	width: 5em;
	height: 2em;
	font-size: 2em;
	padding-left: 2.5em;
	padding-top: 0.2em;
}

.clearfix{
	clear: both;
}